body{
	background: #f5f5f5;
}
.header-bar{
	height:44px ;
	line-height: 44px;
	background:rgb(255,87,34);
	position: relative;
	padding: 0 15px;
}
.pull-left-arrow{position: absolute;top:5px}
.header-bar .header-title{
	font-size:18px;
	color: #FFFFFF;
	text-align: center;
	min-width: 100px;
	margin: 0 auto;
}
.header-bar .icon-arrow{
  width: 21px;
	height: 20px;
	background: url(../images/title_arrow_left@2x.png) no-repeat center center;
	background-size: 100% 100%;
}
.login-header{
	padding: 15px 15px 5px 15px;
	background-color:#F5F5F5;
	
	
}
.login-header-img{
	width: 119px;
	height: 127px;
	background:url(../images/yanzheng_img@2x.png) no-repeat center center;
	background-size: 100% 100%;
	margin:  0 auto;
}
.login-header .login-inner{
	color: rgb(153,153,153);
	text-align: center;
	min-height: 16px;
	font-size: 16px;
	padding: 20px 0;
	
}
.ellipsis-2 {
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
	word-break: break-all;
	white-space: normal !important;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.login-input .phone_input,.check-number{
   height: 50px;
   line-height: 50px;
   background: #FFFFFF;
   border-bottom:1px solid rgba(171, 171, 171, 0.39);
   padding: 0 12px;
}
.login-input {
	position: relative;
}
.login-input .phone_input input{
	padding-left: 48px;
	
}
.login-input .check-number input{
	width:160px;
	height: 50px;/*兼容火狐*/
	padding-left: 68px;
}
.login-input input{
border-style: none;
color: rgb(153,153,153);
font-size: 15px;
outline:navajowhite;
flex: 1;
}
.login-input  label{
	font-size:17px ;
	color: rgb(69,69,69);
}
.login-input .get-code{
	height: 49px;
	background: #FFFFFF;
	border: none;
}
.login-input .default-code{
	 color:gray;
	 font-size: 12px;
}
.login-input .active-code{
		color: rgb(254,87,34);
		font-size: 15px;
}
.login-input .resever-code{
	font-size: 12px;
	color: rgb(153,153,153);
}
.login-input .ques-link{
	font-size: 12px;
	color: rgb(153,153,153);
	position: absolute;
	right:12px;
	bottom: -20px;
}
.login-next-step .default-next{
	width: 300px;
	height: 44px;
	line-height: 44px;
	border-radius: 22px;
	background: rgb(210,210,210);
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
}
.login-next-step{
	padding: 100px 38px;
}
.login-next-step .active-next{
	background: linear-gradient(to left, #ff8f00, #ff7311, #ff5722);
	width: 300px;
	height: 44px;
	line-height: 44px;
	border-radius: 22px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
}
.prop-mask{
	position: fixed;
	right: 0;
	left: 0;
	top:0;
	bottom: 0;
	background: rgba(0,0,0,0.3);
	display: none;
	transition: all;
}
.ques-header{
	width: 100%;
	background: #FFFFFF;
	color: rgb(153,153,153);
	font-size: 15px;
	text-align: center;
	padding: 18px 0;
	transition:all .3s ease-in-out ;
	border-bottom:1px solid #F5F5F5 ;
}
.prop-win{
	position: absolute;
    width: 100%;
    bottom: -234px;
}
.prop-content,.cancel-btn{
	background: #FFFFFF;
	font-size: 16px;
	color:rgb(69,69,69);
	text-align: center;
}
.prop-content .prop-email,.prop-online-waiter{
	padding: 18px 0;
	border-bottom: 1px solid #F5F5F5;
	background: #FFFFFF;
}
.cancel-btn{
	margin-top: 5px;
	padding:  18px 0;
}
.icon-laud{
	width: 100px;
	height: 20px;
}
.aui-toast-content{
	font-size: 12px;
}
.aui-dialog-btn{
	font-size: 16px;
	color: rgb(69,69,69);
}
.aui-dialog-btn:last-child{
	color: rgb(254,87,34);
}
.aui-dialog-body,.aui-dialog-header{
	color: rgb(69,69,69) !important;
	font-size: 16px !important;
}
@media (-webkit-min-device-pixel-ratio:3),
(min-device-pixel-ratio:3) {
  .login-header-img{
		   background: url(../images/yanzheng_img@3x.png) no-repeat center center;
			 background-size:100% 100%;
		}
  }